@model Library.MVC.Models.BookIndexVm;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Available Copies</th>
            <th>Total number of copies</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopiesAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copies.Count)
            </td>
            <td>
                @if (item.CopiesAvailable > 0)
                {
                    <a asp-action="CreateLoan" asp-route-id="@item.ID">Loan book</a><span> |</span>
                }
                <a asp-action="Edit" asp-route-id="@item.ID">Edit book</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Show details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
