@model Library.MVC.Models.MemberModels.MemberDetailsVm;

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Member</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SSN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SSN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit member</a> |
        <a asp-action="Index">Back to List</a>
    </div>

    <br />
    <h4>Member Loans</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Loan Time</th>
                <th>Return Time</th>
                <th>Delayed</th>
                <th>Fine</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Loans)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookCopy.Details.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookCopy.Details.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delayed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fine)
                </td>
            </tr>
            }
        </tbody>
    </table>

</body>
</html>
