@model Library.MVC.Models.LoanModels.LoanIndexVm;

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Book</th>
                <th>Loan Date</th>
                <th>Return Date</th>
                <th>Delayed</th>
                <th>Fine</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Loans)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookCopy.Details.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoanTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Delayed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fine)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Return" asp-route-id="@item.ID">Return</a>
                    </td>
                </tr>
            }
        </tbody>

        <thead>
            <tr>
                <th>User</th>
                <th>Delayed</th>
                <th>Fine</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ReturnedLoans)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delayed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fine)
                </td>
            </tr>
        }
        </tbody>
    </table>
</body>
</html>
